
	
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: left;
}
#loading {
	display:none;
	width: 50px;
	height: 50px;
}

#utilityWrapper {
	display:none;
}

		html, body, #container {
  height: 100%;
 
  width: 100%;
}
body {
  /* height of .navbar, customize with @navbar-height variable */
  padding-top: 50px;
}

#sidebar {
  float: left;
  height: 100%;
  max-width: 100%;
  width: 250px;
}
#map {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: auto;
}
.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
#sidebar {
  max-width: 30%;
  overflow-y: auto;
}
}


.facilityOrders {
	display:none;

}

.navbar-brand {

  font-size: xx-large;
  color: #fff;
}
		
		